name: Render & Publish to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-renv@v2

      - uses: quarto-dev/quarto-actions/render@v2
        with:
          to: html

      - uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
